@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
	font-family: 'Robot Regular';
	src: url('../fonts/Robot-Regular.ttf');
}
@font-face {
	font-family: 'Robot Light';
	src: url('../fonts/Robot-Light.ttf');
}

body {
	background-color: #eff7f7;
}

.container {
	margin-left: 20%;
	margin-right: 20%;
	box-sizing: border-box;
}
#head {
	background-color: #021e1b;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 45%;
	height: 35%;
	width: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
}
#head img{
	margin-top:3%;
	width: 400px;
	height: auto;
}
.content {
	margin-top:35%;
	display: block;
	padding-left:1%;
	padding-top:3px;
	padding-bottom:3px;
}

.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 45%;
	background-color: #ffffff;
	color: #242424;
	margin: 7px;
	padding: 5px;
	-webkit-box-shadow: 0 3px 7px 1px rgba(0,38,38,.06);
	-moz-box-shadow: 0 3px 7px 1px rgba(0,38,38,.06);
	box-shadow: 0 3px 7px 1px rgba(0,38,38,.06);
}

.col .description {
	min-height: 100px;
	font-family: 'Robot Light';
	font-weight: light;
	font-size: 18px;
	color: #021e1b;
}
.col .updated {
	font-family: "Roboto Regular";
	font-size: 14px;
	color: #9ba1a0;
}

.col a {
	display: block;
	text-decoration: none;
	outline: none;
	color: #005348;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 18pt;
	margin-bottom: 10pt;
}

.main {
	font-family: 'Roboto Condensed';
	font-size: 38px;
	text-align: center;
	color: #005348;
	margin-bottom:5%;
}
